<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %> 

<body>
    <%- include("../partials/headerPartial.ejs") %> 
    <main>
        <h1 class="main_titles">ESTA SERÁ LA PÁGINA DEL CARRITO DE COMPRAS</h1>
        <br>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="pageContent_footer">
        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>

    
    <%- include("../partials/footerPartial.ejs") %> 
</body>
</html>