<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %> 

<body>
    <%- include("../partials/headerPartial.ejs") %> 
    <main class="main_myAccount">
        <div class="myAccount_all">
        <h1 class="main_titles">LISTA DE DESEOS</h1>
        <br>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
    <div class="pageContent_footer">
        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
       </div>
      <br>
      <br>
      <br>
      <br>
      <br>
    </main>
    
    
    <%- include("../partials/footerPartial.ejs") %> 
</body>
</html>