<header id="top">
    <div class="above-navbar">
        <div class="search-bar">
            <p><label for="searchbar"><i class="fa-solid fa-magnifying-glass"></i></label> <input type="text" name="searchbar" id="searchbar" placeholder="Buscar..."></p>
        </div>
        <ul class="wishlist-account-cart"> 
            
            <% if (locals.currentUser) { %>
                <li class="login_toggle"><a class="account-item" href="/cuenta/detalles"><span><%=currentUser.first_name%></span><i class="fa-solid fa-circle-user"></i></a>
                    <ul class="login_dropdown">
                        <% if (locals.adminCheck) { %>
                            <li id="login_dropdownOptions"><p>ADMIN USER</p></li>
                        <% } %>
                        <li id="login_dropdownOptions"><a href="/cuenta/detalles">Mi cuenta</a></li>
                        <li id="login_dropdownOptions"><a href="/cuenta/logout">Salir <span class="material-symbols-outlined">
                            logout
                            </span></a></li>
                    </ul>
                </li>
            <% } else { %>
                <li><a class="account-item" href="/cuenta/login"><span>INGRESAR</span><i class="fa-solid fa-circle-user"></i></a></li>
            <% } %> 
            <li><a class="wishlist-item" href="/lista-de-deseos"><span>LISTA DE DESEOS</span><i class="fa-solid fa-heart"></i></a></li> 
            <li><a class="cart-item" href="/carrito"><span>CARRITO / $0,00</span><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
    <nav class="nav-header">
        <div class="mini-menu"><a href=""><i class="fa-solid fa-bars"></i> MENU</a></div>
        <ul class="navbar-list1">
            <li><a href="/envios">Envíos</a></li>
            <li class="dropdown-menu_toggle"><a class="dropdown-menu_titles" href="/productos/page/1">Productos <i class="fa-solid fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/productos/carnes">Carnes</a></li>
                    <li><a href="/productos/pescados">Pescados</a></li>
                    <li><a href="/productos/especias">Especias</a></li>
                    <li><a href="/productos/quesos">Quesos</a></li>
                    <li><a href="/productos/otros">Otros productos de almacén</a></li>
                </ul>
            </li>
            <li><a href="/">Home</a></li>
        </ul>
        <div class="weiss-logo">
            <a href="/"><img width="70%" src="/img productos_weiss/logo-weiss (cortado).png" alt="logo-weiss"></a>
        </div>
        <ul class="navbar-list2">
            <li><a href="/nosotros">Nosotros</a></li>
            <li class="dropdown-menu_toggle"><a class="dropdown-menu_titles" href="/sucursales">Sucursales <i class="fa-solid fa-angle-down"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/sucursales/#local">Ahumadero Weiss</a></li>
                    <li><a href="/sucursales/#beer">Weiss Beer & Burgers</a></li>
                </ul>
            </li>
            <li><a href="/contacto">Contacto</a></li>
            
        </ul>
        <div class="mini-home"><a href="/">HOME <i class="fa-solid fa-house-chimney"></i></a></div>
    </nav>
</header>