<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">
                <div class="page_title">
                    <h1 class="main_titles">Contactanos</h1>
                </div>
                <div class="page_content">
                    <div class="myAccount_all2">
                        <div class="centrado_texto2">

                            <div class="alinear_contacto">
                                <div class="contacto">
                                    
                                        <a class="font_img" href="mailto:ventas@ahumaderoweiss.com"><i
                                                class="fa-solid fa-envelopes-bulk"></i></a>
                                        <a class="contacto_text"
                                            href="mailto:ventas@ahumaderoweiss.com">ventas@ahumaderoweiss.com</a>
                                    
                                </div>
                                <div class="contacto">
                                    
                                        <a class="font_img"
                                            href="https://www.google.com/maps/place/Ahumadero+Familia+Weiss/@-41.1332103,-71.3038525,15z/data=!4m5!3m4!1s0x0:0x257fbc1a4afeb965!8m2!3d-41.1332103!4d-71.3038525"><i
                                                class="fa-regular fa-compass"></i></a>

                                        <a class="contacto_text"
                                            href="https://www.google.com/maps/place/Ahumadero+Familia+Weiss/@-41.1332103,-71.3038525,15z/data=!4m5!3m4!1s0x0:0x257fbc1a4afeb965!8m2!3d-41.1332103!4d-71.3038525">Bme.
                                            Bme. Mitre 131. 8400, Bariloche</i></a>
                                    
                                </div>
                                <div class="contacto">
                                    <a class="font_img" href="https://wa.me/+5492944509149?text=Ahumadero%20Weiss"><i
                                            class="fa-solid fa-mobile-screen-button"></i></a>
                                    <a class="contacto_text" href="">+54 9 294 450-9149</a>
                                </div>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                    <br>
                    <br>
                </div>


            </main>

            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>