<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>error 404</title>
</head>
<body class="not-found-view">
    <div class="content-not-found">
    <img width="140px" src="/img productos_weiss/logo-weiss (cortado).png" alt="not-found(404)">
    <h1>Error (404): resource not found</h1>
   </div>
</body>
</html>