<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">

                <div class="page_title">
                    <h1 class="main_titles">¿Quiénes somos?</h1>
                </div>

                <div class="page_content">
                    <div class="myAccount_all">

                        <div class="centrado_texto">
                            <p>La huella del ahumado artesanal
                            </p>
                            <br>
                            <p>
                                Cuando nuestro abuelo Aldo Fenoglio llegó de Italia después de la guerra,
                                trajo su pasión y su conocimiento sobre el ahumado artesanal.
                                En 1948 instaló el primer ahumador de Bariloche y lo llamó como uno de
                                los cerros más lindos y más visitados del sur: Tronador.
                            </p>
                            <br>
                            <p>
                                Muy pronto, el dato de que había un ahumador con riquísimas recetas comenzó
                                a recorrer toda la Patagonia. Vecinos y viajeros llegaban al lugar y pedían ese
                                ahumado que les conquistaba los corazones y paladares.
                            </p>
                            <br>
                            <p>
                                Así se empezó a escribir esta historia. Con amor por el
                                ahumado y ganas de compartir calidad y el más rico de los sabores.
                            </p>
                            <br>
                            <p>
                                Con el correr de los años, la tradición y el gusto por los productos
                                artesanales continuó en la familia Weiss. Desde 1996 Diego, seguidos
                                de Leticia y Aldo, aportaron recetas frescas e innovadoras y destacaron
                                aún más la calidad de los ahumados. El resultado fue que, en poco tiempo,
                                el ahumador Weiss se convirtió en la mejor del país.</p>
                        </div>
                    </div>

                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                    <br>
                    <br>

                </div>
            </main>

            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>