<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_sucursales">
                <div class="page_title">
                    <h1 class="main_titles">Sucursales</h1>
                </div>

                <div class="page_content">
                    <div class="myAccount_all">
                        <div class="centrado_texto">
                            <h1 id="local">Local de ahumados</h1>
                            <br>
                            <iframe class="mapa"
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.0432410544554!2d-71.30516939505064!3d-41.13358199786777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x961a7c9d5795c7c1%3A0x257fbc1a4afeb965!2sAhumadero%20Familia%20Weiss!5e0!3m2!1ses!2sus!4v1670713921944!5m2!1ses!2sus"
                                width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <br>
                            <br>
                            <h3>Nuestros horarios</h3>
                            <h4>Sábado</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <h4>Domingo</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <h4>Lunes</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <h4>Martes</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <h4>Miércoles</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <h4>Jueves</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <h4>Viernes</h4>
                            <p>12:00–16:00 y
                                20:00–00:00</p>

                            <br>
                            <br>
                            <h1 id="beer">Local de hamburguesas</h1>
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1502.5281402155879!2d-71.30471749828646!3d-41.133297340379045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x7f96600d1fef59c4!2sWeiss%20Beer%26Burgers!5e0!3m2!1ses-419!2sar!4v1670714205292!5m2!1ses-419!2sar"
                                width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <h2>Nuestros horarios</h2>
                            <h4>Sabado</h4>
                            <p>12:30–14:45 y
                                19:30–23:30</p>

                            <h4>Domingo</h4>
                            <p>19:30–23:30</p>

                            <h4> Lunes</h4>
                            <p>Cerrado</p>

                            <h4>Martes</h4>
                            <p>12:30–14:45 y
                                19:30–23:30</p>

                            <h4>Miércoles</h4>
                            <p>12:30–14:45 y
                                19:30–23:30</p>

                            <h4>Jueves</h4>
                            <p>12:30–14:45 y
                                19:30–23:30</p>

                            <h4>Viernes</h4>
                            <p>12:30–14:45 y
                                19:30–23:30</p>

                        </div>
                    </div>
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                    <br>
                    <br>
                </div>
            </main>

            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>