<!DOCTYPE html>
<html lang="en">
<%- include("../partials/headPartial.ejs") %>

    <body>
        <%- include("../partials/headerPartial.ejs") %>
            <main class="main_myAccount">

                
                    <div class="page_title">
                        <h1 class="main_titles">Nuestas politicas</h1>
                    </div>

                    <div class="page_content">
                        <div class="myAccount_all">
                            <div class="centrado_texto">
                            <h2>Visión</h2>

                            <p>Ser una empresa comprometida con la excelencia y
                                la innovación que inspire a las personas a superarse.</p>
                            <br>
                            <br>
                            <h2>Misión</h2>

                            <p>Crear sabores únicos y experiencias de placer
                                inolvidables desde el primer contacto con la marca,
                                a través de productos y servicios de alta calidad,
                                del respeto por el medioambiente y del compromiso social.</p>
                            <br>
                            <br>
                            <h2>Política de calidad</h2>

                            <p>En WEISS asumimos el compromiso de ofrecer productos y servicios de excelencia a nuestros
                                clientes.

                                En consecuencia establecemos los siguientes principios,
                                ∙ Elaborar productos únicos, cuidando la calidad desde la materia prima y en toda la
                                cadena productiva hasta
                                el resultado final;
                                ∙ Brindar una experiencia de calidad a nuestros clientes con atención a los detalles;
                                ∙ Comprometer la inversión e innovación constante que acompañe el crecimiento de la
                                organización;
                                ∙ Fomentar la motivación, el desarrollo y crecimiento de un equipo de colaboradores
                                dinámicos;
                                ∙ Perseguir la mejora continua de nuestro sistema de gestión de calidad y comprometernos
                                a cumplir todos los
                                requisitos aplicables a la organización.</p>
                        </div>
                    </div>
                    
            
                    <div class="pageContent_footer">
                        <a class="main_goBackHome" href="/"><i class="fa-solid fa-arrow-left"></i> Home</a>
                    </div>
                    <br>
                    <br>
                    
                </div>
            </main>

            <%- include("../partials/footerPartial.ejs") %>
    </body>

</html>