<!DOCTYPE html>
<html lang="en">

<%- include("../partials/headPartial.ejs") %> 

<body>
    <%- include("../partials/headerPartial.ejs") %> 
    <main>
        <h1 class="main_titles"><%= undefinedText %></h1>
        <br>
        <br> 
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </main>
    
    
    <%- include("../partials/footerPartial.ejs") %> 
</body>
</html>